@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>
        Create your ticket
        <button class="pull-right btn btn-success" title="Submit Changes" type="submit" style="margin:10px"><i class="fa fa-plus-square fa-2x"></i></button>
        <a class="pull-right" title="Back to Tickets" type="button" href="/Tickets/Index"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
    </h2>
    <br />
    <hr />
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        

        <div class="container">
            <div class="col-md-5">
                <div class="form-group text-center">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "background-color: #c1f6bd" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="well">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        <hr style="width:100%" />
                        <div>
                            @Html.TextAreaFor(model => model.Description, 5, 1, new { htmlAttributes = new { @class = "form-control", style = "width:100%; background-color: #c1f6bd;" }, style = "width:100%; background-color: #c1f6bd; border-radius:10px", placeholder = "Enter a description here" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group well">
                    @Html.LabelFor(model => model.TicketComments, "Comments", htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <hr style="width:100%" />                    
                        <div class="col-md-12">
                            @Html.TextArea("comment", "", 5, 1, new { htmlAttributes = new { @class = "form-control", id = "comment", style = "width:100%" }, style = "width:100%; background-color: #c1f6bd; border-radius:10px", placeholder = "Enter a comment here" })
                        </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectId, "Project/ Catagory", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-6">
                        @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control", style = "background-color: #c1f6bd;" })
                        @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TicketTypeId, "Ticket Type", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-6">
                        @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control", style = "background-color: #c1f6bd;" })
                        @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (User.IsInRole("Developer"))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.TicketPriorityId, "Ticket Priority", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-6">
                            @if (User.IsInRole("Project Manager"))
                            {@Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control", style = "background-color: #c1f6bd;" })}
                            else
                            {@Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled", style = "background-color: #c1f6bd;" }) }
                            @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TicketStatusId, "Ticket Status", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-6">
                            @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control", style = "background-color: #c1f6bd;" })
                            @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AssignedToUserId, "AssignedToUserId", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-6">
                            @if (User.IsInRole("Project Manager"))
                            { @Html.DropDownList("AssignedToUserId", null, htmlAttributes: new { @class = "form-control", style = "background-color: #c1f6bd;" })
                                @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })}
                        </div>
                    </div>
                }

                <div class="form-group well" style="margin:0">
                    @Html.LabelFor(model => model.TicketAttachments, "Attachments", htmlAttributes: new { @class = "control-label col-md-7" })
                    <br />
                    <hr style="width:100% " />
                    <div class="col-md-12">
                        <div class="row">
                            @Html.Label("Add an attachment:", htmlAttributes: new { @class = "control-label col-md-5", style = "padding:15px; " })
                            <div class="col-md-4">
                                <input type="file" id="fileUpload" name="fileUpload" style="padding:15px;" />
                            </div>
                        </div>
                        @Html.TextArea("descriptions", "", 5, 1 , new { htmlAttributes = new { @class = "form-control", id = "description" }, placeholder = "Enter Attachment Description", style = "width:100%; border-radius:10px;background-color: #c1f6bd;" })
                    </div>
                </div>
            </div>
        </div>
        </div>
    
}


